h1 {
    text-align: center;
    border-style: ridge;
    border-color: black;
    border-width: 5pt;
    border-top: 0ch;
    border-left: 0;
    border-right: 0;
    margin-top: 50pt;
    font-size: 50pt;
    font-style:italic;
    
   
}
h2 {
    border-bottom: 5pt;
    border-top: 0;
    border-right: 0;
    border-style: solid;
    margin-right:1200pt;
}
p {
    margin-right: 600pt;
}